<form action="/notes" method="post">
  <label for="urlhere">URL</label>
  <input id="urlhere" type="text" name="url"/>
  <div class="myButton">
    <input type="submit" name="getnotes" value="Get Those Notes!"/>
  </div>
</form>