body {
	background-color:#3c3c3c;
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-shadow: #111 0px 2px 2px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#urlhere {
	font-size: 20px;
	text-align: center;
	width: 40% ;
	font-style: italic;
	font-color: #3C3C3C;
	margin-top: 50px;
}

#banner {
  font-family: 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
	text-shadow: #000000 -2px -2px 0px;
	margin-top: 100px;
}

h2 {
  font-family: 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
	text-shadow: #000000 -2px -2px 0px;
	font-style: italic;  
}

p {
  font-family: 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  text-align: justify;
}

.myButton input {
  margin-top: 70px;
  background:url(/img/btn.png) no-repeat;
  cursor:pointer;
  width: 240px;
  height: 100px;
  border: none;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  font-color: #FFFFF;
}

.myButton input:hover  {
  background: url(/img/btn_hover.png) no-repeat;
}